@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

$navbar-color: rgba(0, 0, 0, 0.7);
$navbar-link: rgb(255, 255, 255);
$navbar-link-hover: rgb(255, 0, 0);
$first-color: rgb(231, 227, 0);
$second-color: rgb(207, 207, 207);
$third-color: rgb(215, 133, 0 );
$footer-color: rgb(0, 0, 0);
$footer-text: rgb(255, 255, 255);

.navbar {
  background-color: $navbar-color;

  .nav-item {
    a {
      color: $navbar-link;
    }
    a:hover {
      color: $navbar-link-hover !important;
    }
  }
  .navbar-toggler {
    background-color: white;
    padding: 0 0.3em;
  }
  span > .fas {
    color: black;
    font-size: 20px;
    padding-top: 0.2em;
  }
}

.banner {
  height: 300px;
  background-color: black;
  background-image: url("../images/foto-banner.jpg");
  background-size: cover;
  background-position: center;
}

.divisor {
  margin: 0 0;
  border: 0; border-top: 15px solid $navbar-color;
}

.carousel {

  .carousel-item, .background-pages {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.classifiche {
  h1 {
    font-family: 'Secular One', sans-serif;
  }

  h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .primo {
    color: $first-color;
  }

  .secondo {
    color: $second-color;
  }

  .terzo {
    color: $third-color;
  }

  li {
    list-style-type: none;
  }

  .podio {
    height: 150px;
  }

  .top-margin {
    margin-top: 100px;
    margin-right: 15px;
  }
}

footer {
  height: 450px;
  color: $footer-text;
  background-color: $footer-color;

  hr.white {
    border-top: 1px solid $footer-text;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 450px;
  }

  .divisor {
    border: 0; border-top: 30px solid $navbar-color;
  }

  .carousel {

    .carousel-item, .background-pages {
      height: 550px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .classifiche {
    h2 {
      font-size: 3em;
    }

    .podio {
      height: 250px;
    }

    .top-margin {
      margin-top: 10px;
      margin-right: 15px;
    }
  }

  footer {
    height: 260px;
  }
}
