$navbar-color: rgba(0, 0, 0, 0.7);
$navbar-link: rgb(255, 255, 255);
$navbar-link-hover: rgb(255, 0, 0);

.navbar {
  background-color: $navbar-color;

  .nav-item {
    a {
      color: $navbar-link;
    }
    a:hover {
      color: $navbar-link-hover !important;
    }
  }
  .navbar-toggler {
    background-color: white;
    padding: 0 0.3em;
  }
  span > .fas {
    color: black;
    font-size: 20px;
    padding-top: 0.2em;
  }
}

.banner {
  height: 300px;
  background-color: black;
  background-image: url("../images/foto-banner.jpg");
  background-size: cover;
  background-position: center;
}

.divisor {
  margin: 0 0;
  border: 0; border-top: 15px solid $navbar-color;
}

.carousel-item, .background-pages {
  height: 550px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 450px;
  }

  .divisor {
    border: 0; border-top: 30px solid $navbar-color;
  }
}
