$navbar-color: rgb(0, 0, 0);
$navbar-link: rgb(255, 255, 255);
$navbar-link-hover: rgb(255, 0, 0);

.navbar {
  background-color: $navbar-color;

  .nav-item {
    a {
      color: $navbar-link;
    }
    a:hover {
      color: $navbar-link-hover !important;
    }
  }
  .navbar-toggler {
    background-color: $navbar-link-hover;
    padding: 0 0.3em;
  }
  span > .fas {
    color: $navbar-link;
    font-size: 20px;
    padding-top: 0.2em;
  }
}
