$navbar-color: rgb(0, 0, 0);
$navbar-link: rgb(255, 255, 255);
$navbar-link-hover: rgb(255, 0, 0);

.navbar {
  background-color: $navbar-color;

  .nav-item {
    a {
      color: $navbar-link;
    }
    a:hover {
      color: $navbar-link-hover !important;
    }
  }
  .navbar-toggler {
    background-color: $navbar-link-hover;
    padding: 0 0.3em;
  }
  span > .fas {
    color: $navbar-link;
    font-size: 20px;
    padding-top: 0.2em;
  }
}

.banner {
  height: 200px;
  background-color: black;
  background-image: url("../images/foto1.jpg");
  background-size: cover;
  background-position: center;

  margin-bottom: 20px;

}


@media screen and (min-width: 768px) {
  .banner {
    height: 400px;
  }
}
